################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeneratorAPI/.vs
/GeneratorAPI/bin/Debug/net8.0
/GeneratorAPI/obj
/GeneratorAPI/bin/Release/net8.0
/GeneratorAPI/Properties
/GeneratorAPI/GeneratorAPI.csproj.user
